#contact_modal {
  display: none;
}

#main-photographer {
  margin-block-end: 100px;
  margin-inline: 100px;
}

.filter {
  margin-block: 20px;
}
/* custom select */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.selected-item {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}

.selected-item i {
  margin-left: 10px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow: hidden;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 11px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  align-content: center;
}

.dropdown-list li:last-child {
  border-radius: 0 0 5px 5px;
}

.dropdown-list li:not(:last-child) {
  border-bottom: 1px solid #ffffff;
  width: 90%; /* Border takes only 90% width */
  margin: 0 auto;
}

.dropdown-list li:hover {
  background-color: #db8876;
}
/* --------------- */

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.photograph-header img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.photograph-header__info .name {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
  margin-block: 0 15px;
}
.photograph-header__info .location {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  margin-block: 0 15px;
}
.photograph-header__info .tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  margin-block: 0 15px;
}

/* ----------------------------- */

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
