#contact_modal {
  display: none;
}

#main-photographer {
  margin-block-end: 100px;
}

.media-video {
  border: 2px solid black;
}

/* tjm bottom */

.tjm-wrapper {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
}
.tjm-tags {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
}

.total-like-number {
  margin-inline-end: 5px;
}

.tjm-price {
  margin-inline-start: 20px;
}

/* --------------------- */
/* gallery */
.card-link {
  text-decoration: none;
  color: black;
  padding: 0;
}

.media-title {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  margin-block: 10px;
}

.media-indiv {
  width: 350px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  transition:
    box-shadow 0.5s ease,
    transform 0.5s ease;
}

.gallery_card:hover .media-indiv {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.005);
}

.gallery_card figure {
  margin: 0;
  padding: 0;
}

.title-and-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  /* cursor: pointer; */
}

.likes {
  display: flex;
  right: 0;
  column-gap: 5px;
}

.likes-number {
  font-size: 24px;
  font-weight: 500;
  color: #901c1c;
}

.btn-like {
  margin-inline-start: 5px;
  z-index: 30;
  padding-inline: 0;
  color: red;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-like:focus-visible:not(:hover) {
  outline: 2px solid black;
}

.filter {
  margin-block: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

section .gallery_card {
  display: flex;
  flex-direction: column;
}

.filter-span {
  margin-inline-end: 15px;
  font-size: 18px;
  font-weight: 700;
}
/* custom select */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.selected-item {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.selected-item i {
  margin-left: 10px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow: hidden;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 11px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  align-content: center;
}

.dropdown-list li:last-child {
  border-radius: 0 0 5px 5px;
}

.dropdown-list li:not(:last-child) {
  margin: 0 auto;
}

.dropdown-list li:not(:last-child):after {
  position: relative;
  top: 44%;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.dropdown-list li:not(:last-child):before {
  position: relative;
  top: -44%;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.dropdown-list li:hover {
  background-color: #db8876;
}
/* --------------- */

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.photograph-header img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.photograph-header__info .name {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
  margin-block: 0 15px;
}
.photograph-header__info .location {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  margin-block: 0 15px;
}
.photograph-header__info .tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  margin-block: 0 15px;
}

/* ----------------------------- */

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
